<template>
    <div>
        <h1>Sample Sidebar</h1>
        <div v-for="item in navLinks" :key="item.id">
            <nuxt-link class='py-2 underline' :to="item.href">{{ item.title }}</nuxt-link>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                navLinks: [
                    {href: '#', title:'Home'},
                    {href: '#', title:'About'},
                    {href: '#', title:'Contact Us'},
                ]
            }
        }
        
    }
</script>