<template>
    <div>
        <div class="float-right py-10">
            <button class="btn" @click="onShowSidebar">show sidebar</button>
            <button class="btn"  @click="onHideSidebar">hide sidebar</button>
            <button class="btn"  @click="onToggleSidebar">toggle sidebar</button>
        </div>

        <div v-show="$store.state.nav.showSideBar" class="absolute h-screen w-64 top-0 left-0 z-10 bg-gray-300">
            <SideBar/>
        </div>
    </div>
</template>

<script>
import SideBar from '~/components/SideBar.vue';
    export default {
        components: { SideBar },
        methods: {
            onShowSidebar(){
                this.$store.commit('nav/onShow');
            },
            onHideSidebar(){
                this.$store.commit('nav/onHide');
            },
            onToggleSidebar(){
                this.$store.commit('nav/onToggle');
            },
        }

    }
</script>

<style scoped>
.btn{
    @apply py-2 px-4 bg-gray-300 rounded-md border;
}
.btn:hover{
    @apply bg-gray-800 text-white;
}
</style>